@font-face {
  font-family: Nunito;
  src: url('../../assets/fonts/nunito/Nunito-Regular.ttf');
  src: url('../../assets/fonts/nunito/Nunito-Bold.ttf');
  src: url('../../assets/fonts/nunito/Nunito-Light.ttf');
}