.app {
  font-family: Nunito;
  color: var(--neutral-100, #0A0A0A);

  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  transition: all .3s linear;
}

.box {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}