.t1 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.t2 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.t3 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.t4 {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.t5 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.t6 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.h1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.h2 {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
}