.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  display: flex;
  gap: 20px;
}

.searchInfo {
  position: absolute;
  top: 100%;
  margin-top: 5px;
  left: 10px;
}