.row {
  display: flex;
  width: 100%;
}

.cell {
  position: relative;
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 10px 7px;
  border: 1px solid black;
  color: var(--info-primary);
  background-color: var(--info-bg);
  transition: all .2s ease;
}

.cell:hover {
  color: var(--info-bg);
  background-color: var(--info-hover);
}

.cell.header {
  color: var(--success-primary);
  background-color: var(--success-bg);
}

.cell.header:hover {
  color: var(--success-bg);
  background-color: var(--success-hover);
}

.cell.active {
  color: var(--danger-bg);
  background-color: var(--danger-hover);
}

.cell.active:hover {
  color: var(--danger-primary);
  background-color: var(--danger-bg);
}

.cellHeader {
  position: absolute;
  top: 0;
  opacity: 0;
  font-weight: 700;
  font-size: 17px;
  margin-top: 3px;
}

@media screen and (max-width: 420px) {
  .cell.header {
    height: 0;
    padding: 0;
    border: none;
  }

  .row {
    flex-direction: column;
  }

  .cell {
    width: 95%;
    padding-top: 30px;
    color: var(--success-primary);
    background-color: var(--success-bg);
  }

  .cell:hover {
    color: var(--success-bg);
    background-color: var(--success-hover);
  }

  .cellHeader {
    opacity: 1;
  }
}